* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}


/*-----------------------  CSS FOR HEADER -----------------------------*/

.header { 
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../assets/images/dave.jpg") ;
    height: 400px;
    background-size: cover;
    text-align: center;
}

.headings {
    color: white;
}

.header-title-1 {
    font-family: 'Yesteryear', 'cursive';
    color: gold;
    font-size: 2rem;
    line-height: 100%;
}
.header-title-2 {
    font-family: 'Oswald', sans-serif;
    line-height: 100%;
    color: white;
    font-size: 3rem;
    letter-spacing: 3px;
    margin-bottom: 2rem;
}






/*-----------------------  CSS FOR NAVBAR -----------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
}

.navbar-brand { 
    color: white;
    font-family: 'Yesteryear', cursive ;
    font-size: 3rem;
}

.navbar-menu {
    list-style: none;
    color: white;
    margin: auto 0;
}

.navbar-menu .nav-item {
    display: inline;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.nav-item .nav-link {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    transition: all 0.3s ease-in-out;
}

.nav-link .nav-icon {
    font-size: 1.5rem;
}

.nav-link:hover {
    color: gold;
}

/*-----------------------  CSS FOR CONTAINERS -----------------------------*/

.container {
    padding: 0.5rem;
}

.container-header {
    margin: 40px auto;
}

/*-----------------------  CSS FOR BUTTONS -----------------------------*/

.button {
    padding: 0.5rem 1rem;
    background-color: rgb(122, 114, 114);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.button--primary {
    color: black;
    background-color: gold;
    transition: all 0.3s ease-in-out;
}

.button--primary:hover {
    background-color: rgb(255, 225, 57);
}